.sidebar {
    height: 93vh; /* Subtract the height of the navbar */
    width: 275px;
    left: -275px; /* Hide off-screen */
    position: fixed;
    background-color: var(--primary-color);
    transition: left 0.3s ease;  /* Animate the slide-in effect */
}
.sidebar.open {
    left: 0;  /* Slide in to 0 position */
}

.sidebarBtn {
    height: 10vh;
    /* border-bottom: 3px solid var(--text-color); */
    transition: background-color 0.3s ease, transform 0.1s ease;
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
}
.sidebarBtn * {
    margin-left: 20px;
    margin-right: 25px;
}
.sidebarBtn:hover {
    background-color: var(--btn-hover-color);
}
.sidebarBtn:active {
    transform: scale(0.96);
    background-color: var(--btn-click-color);
}

.sidebar .horizontal-separator {
    border-top: 4px solid rgba(var(--text-color-rgb), 0.3);
    border-radius: 10px;
    width: 90%;
    margin: 20px 0px;
    place-self: center;
}

