.settings {
    height: 93vh; /* Subtract the height of the navbar */
    width: 260px;
    right: -260px; /* Hide off-screen */
    position: fixed;
    background-color: var(--primary-color);
    transition: right 0.3s ease;  /* Animate the slide-in effect */
}
.settings.open {
    right: 0;  /* Slide in to 0 position */
}
