.main-content {
    padding: 0 !important;
}

.map-container {
    height: 91.4vh; /* Subtract navbar height */
    width: 100%;
}

.leaflet-container {
    height: 100%;
    /* margin-right: -260px; */
}

/* Tooltips */
.map-container .leaflet-container .leaflet-popup-content-wrapper,
.map-container .leaflet-container .leaflet-popup-tip {
    background-color: var(--primary-color);
    color: var(--text-color);
}


/* LEAFLET CONTROLS */
.horizontal-separator {
    border: none;
    border-top: 2px solid rgba(var(--text-color-rgb), 1);  /* Light separator line */
    width: 90%;  /* Ensure it spans the full width of the control */
    margin: 5px 0;  /* Optional: Add some spacing around the separator */
}
.vertical-separator {
    border: none;
    border-right: 4px solid rgba(var(--text-color-rgb), 1);  /* Light separator line */
    height: 60%;  /* Ensure it spans the full width of the control */
}

/* Zoom Control */
/* This is for the zoom buttons for now. May need to change if adding more controls later */
.leaflet-control-zoom a {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}
.leaflet-control-zoom a:hover {
    background-color: var(--btn-hover-color) !important;
}
.leaflet-control-zoom a:active {
    background-color: var(--btn-click-color) !important;
}
/* Attribution */
.leaflet-container .leaflet-control-attribution {
    background-color: rgba(var(--primary-color-rgb), 0.8);
    color: rgba(var(--text-color-rgb), 0.7);
}
.leaflet-container .leaflet-control-attribution a {
    color: var(--hyperlink-color);
}

/* Class has to be hyper-specific here to take priority over leaflet defaults without use !important*/
.map-container .leaflet-container .leaflet-control-zoom {
    margin: 20px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.map-container .leaflet-container .leaflet-control-zoom-in,
.map-container .leaflet-container .leaflet-control-zoom-out {
    width: 50px; 
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Waypoint Control */
.wp-control {
    background-color: rgba(var(--primary-color-rgb), 0.8);
    color: rgba(var(--text-color-rgb), 0.7);
    width: 300px;
    height: 200px;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.speed-data {
    width: 85%;
    height: 35%;
    background-color: rgba(var(--text-color-rgb), 0.7);
    border-radius: 5px;
    margin: 5px 0px;
}

/* Vehicle Controls Control */
.vh-controls-control {
    background-color: var(--msstate-maroon);
    color: var(--text-color);
    width: 300px;
    height: 80px;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.vh-controls-control .vertical-separator {
    border-right: 4px solid white;
}
.vh-controls-control .vhc-btn {
    color: white;
    margin: 0px 10px;
    padding: 10px;
}